* {
	margin: 0;
	padding: 0;
	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Raleway', sans-serif;
}


#landing-jumbo {
	height: 100vh;
	display: flex;
	background-image: url("../images/landing-bg.jpg");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;
	color: #fff;

}


#landing-h2 {
	display: block;
	text-align: right;
	margin-bottom: 50px;
	font-style: italic;
}



hr { 
    position: relative; 
    top: 20px; 
    border: none; 
    height: 2px; 
    background: #fff; 
    margin-bottom: 50px; 
} 

#portfolio-section {
/*	margin-top: -30px;*/
	display: flex;
/*	padding: 20px;*/
	height: 160vh;
	background-color: #01242e;
	color: #fff;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

#dentalmortgage {
	background-image: url("../images/dentalmortgages.png");
}

#mortgagephysician {
	background-image: url("../images/mortgagephysician.png");
}

#contact-section {
/*	margin-top: -50px;*/
	display: flex;
/*	padding: 70px;*/
	height: 100vh;
	background-color: #595959;
	color: #fff;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

h2 {

	margin-bottom: 20px;
}

.footer {
	padding: 20px;
	text-align: center;
	height: 60px;
	background-color:#f5f5f5
}

#skills-section {
/*	margin-top: -50px; */
	display: flex;
/*	padding: 70px;*/
	height: 100vh;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;

}



#skills-section p {
	margin-top: 10px;
}

#skills-section h2{
	text-align: left;

}
h5{
	color: black;
}

#abt-btn {

	margin-top: 50px;
}

#html{
	background-image: url("../images/html.png");
}

#css{
	background-image: url("../images/CSS.png");
}
#js{
	background-image: url("../images/JS.png");
}
#php{
	background-image: url("../images/PHP.png");
}
#ps{
	background-image: url("../images/photoshop.png");
}
#ai{
	background-image: url("../images/AI.png");
}

.skills-pic {
	height: 50px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#skills-row{

	background-color: #595959;
	padding: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	color: #fff;
	margin: 1px;
}
